/* Calendário Diário */
.daily-calendar {
    width: calc(100% - 30%); /* Ocupa o restante da largura */
    max-width: 100%; /* Remove a limitação de largura */
    border-radius: 10px;
    max-height: calc(100vh - 150px); /* Limita a altura para que não ultrapasse a altura da tela menos 100px */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow:hidden !important;/* Adiciona rolagem vertical */
    height: 100%
}

/* Barra de ferramentas */
.daily-calendar .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Botões da barra de ferramentas */
.daily-calendar .rbc-toolbar button {
    background-color: #737373; /* Cor de fundo */
    color: #F2F2F2; /* Cor do texto */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.daily-calendar .rbc-toolbar button:hover {
    background-color: #A6A6A6; /* Cor ao passar o mouse */
}

/* Título da barra de ferramentas */
.daily-calendar .rbc-toolbar-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000; /* Cor do título */
}

/* Células do cabeçalho de tempo */
.daily-calendar .rbc-time-header-cell {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: #A6A6A6; /* Cor do texto */
}

/* Eventos no calendário */
.daily-calendar .rbc-event {
    background-color: #A6A6A6; /* Cor de fundo do evento */
    color: #F2F2F2; /* Cor do texto */
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.daily-calendar .rbc-event:hover {
    background-color: #737373; /* Cor ao passar o mouse sobre o evento */
}

/* Conteúdo dos eventos */
.daily-calendar .rbc-event-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Data de hoje */
.daily-calendar .rbc-today {
    background-color: transparent;
    border-radius: 4px;
}

/* Calendário Mensal */
.monthly-calendar {
    flex: 0 0 30%; /* Define a largura como 30% */
    margin-right: 20px;
}

/* Header personalizado */
.custom-resource-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

/* Remover células de dia inteiro */
.rbc-allday-cell {
    display: none !important;
}

/* Ajustar slots de tempo */
.rbc-time-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rbc-label {
    text-align: center;
}

/* Gutter da visualização de tempo */
.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
    position: sticky;
    left: 0;
    border-right: 1px solid #ddd;
    z-index: 10;
    margin-right: -1px;
    width: 76px;
}

.rbc-time-view-resources{
    height: calc(100vh - 100px); /* Ocupa a altura da tela toda menos o cabeçalho */
    margin-bottom: 0; /* Remove margem inferior */
}

.rbc-time-header.rbc-overflowing {
   border: none;
}

.rbc-time-view{
    min-height: initial;
}

/* Calendario.css */

.edit-event-modal {
    position: fixed; /* Fixa o modal na tela */
    top: 0; /* Ajusta a posição superior */
    left: 0; /* Ajusta a posição esquerda */
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
}

.edit-event-form {
    background: white; /* Fundo branco para o formulário */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para o formulário */
    width: 300px; /* Largura do formulário */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay-open {
    opacity: 1;
    visibility: visible;
}