.daily-calendar {
    width: calc(100% - 30%); 
    max-width: 100%;
    border-radius: 10px;
    max-height: calc(100vh - 150px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow:hidden !important;
    height: 100%
}

.daily-calendar .rbc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.daily-calendar .rbc-toolbar button {
    background-color: #737373;
    color: #F2F2F2;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.daily-calendar .rbc-toolbar button:hover {
    background-color: #A6A6A6;
}


.daily-calendar .rbc-toolbar-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000; 
}


.daily-calendar .rbc-time-header-cell {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    color: #A6A6A6;
}


.daily-calendar .rbc-event {
    background-color: #A6A6A6; 
    color: #F2F2F2; 
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.daily-calendar .rbc-event:hover {
    background-color: #737373;
}

.daily-calendar .rbc-event-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.daily-calendar .rbc-today {
    background-color: transparent;
    border-radius: 4px;
}

.monthly-calendar {
    flex: 0 0 30%; 
    margin-right: 20px;
}

.custom-resource-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.rbc-allday-cell {
    display: none !important;
}

.rbc-time-slot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rbc-label {
    text-align: center;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
    position: sticky;
    left: 0;
    border-right: 1px solid #ddd;
    z-index: 10;
    margin-right: -1px;
    width: 76px;
}

.rbc-time-view-resources{
    height: calc(100vh - 100px); 
    margin-bottom: 0; 
}

.rbc-time-header.rbc-overflowing {
   border: none;
}

.rbc-time-view{
    min-height: initial;
}

.edit-event-modal {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.edit-event-form {
    background: white; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    width: 300px; 
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay-open {
    opacity: 1;
    visibility: visible;
}

/* Lista de serviços selecionados */
.selected-services-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.service-controls {
    display: flex;
    gap: 10px;
}

button {
    background-color: #737373;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a5a5a;
}

.decrement-btn, .increment-btn {
    background-color: #5cb85c;
}

.decrement-btn:hover, .increment-btn:hover {
    background-color: #4cae4c;
}

.remove-btn {
    background-color: #d9534f;
}

.remove-btn:hover {
    background-color: #c9302c;
}


.total-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: right;
    margin-top: 20px;
}
