.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626; 
    padding: 20px;
    color: #F2F2F2; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Permite quebrar as linhas em telas menores */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaçamento para responsividade */
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #A6A6A6;
}

.header-actions {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; /* Permite quebrar os botões em várias linhas em telas pequenas */
    justify-content: center; /* Centraliza os botões em telas menores */
}

.action-btn {
    background-color: #737373;
    color: #F2F2F2; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #575757; 
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    body{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .dashboard-header {
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: flex-start; /* Alinha ao início para telas pequenas */
    }

    .header-actions {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }

    .action-btn {
        width: 100%; /* Botões ocupam a largura total em telas pequenas */
        text-align: center;
    }
}
