.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    padding: 20px;
    color: #F2F2F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body {
    font-family: 'Lato', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #A6A6A6;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1100;
}

.hamburger-icon .bar {
    height: 4px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hamburger-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

.header-actions {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

@media (max-width: 768px) {
    .header-actions {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        gap: 10px;
        background-color: #333;
        padding: 20px 40px;
        border-radius: 10px;
        z-index: 1100;
        min-width: 200px;
    }

    .header-actions.active {
        display: flex;
    }

    .hamburger-icon {
        display: flex;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.action-btn {
    background-color: #737373;
    color: #F2F2F2;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-btn:hover {
    background-color: #575757;
}

@media (max-width: 768px) {
    .logo-container {
        display: none;
    }

    .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .action-btn {
        width: 100%;
        text-align: center;
    }

    body {
        overflow-y: auto;
        overflow-x: hidden;
    }
}
