:root {
  --color-bg: #0D0D0D;
  --color-text-light: #F2F2F2;
  --color-text-medium: #A6A6A6;
  --color-text-dark: #262626;
  --color-border: transparent;
  --color-button: #F2F2F2;
  --color-button-hover: #A6A6A6;
  --box-shadow: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1a1a1a, #0D0D0D);
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(38, 38, 38, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 20px var(--box-shadow);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: var(--color-text-light);
  font-size: 24px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-text-medium);
  text-align: left;
}

.login-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: #262626;
  color: var(--color-text-light);
  font-size: 14px;
  transition: border-color 0.3s;
}

.login-form input:focus {
  outline: none;
  border-color: var(--color-text-light);
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-button);
  color: var(--color-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.login-form button:hover {
  background-color: var(--color-button-hover);
  transform: scale(1.05);
}

.error-message {
  color: red;
  margin-top: 10px;
}
